//colours
$primary: rgba(139, 139, 139, 1);
$secondary: rgba(255, 255, 255, 1);
$bg-color: rgba(250, 250, 250, 1);
$headline-color: rgba(0, 0, 0, 1);
$blue: rgba(64, 123, 255, 1);
$shadow-color: rgba(64, 123, 255, 0.12);

//font
$font-default: 'Montserrat', sans-serif;

//breakpoints
$break-small: 640px;
$break-large: 1100px;

$pad: 10px;

